@model IEnumerable<SistemaEmpresarial.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.per_nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.per_rfc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.per_correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.per_movil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.per_fecha_creacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.per_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.per_rfc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.per_correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.per_movil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.per_fecha_creacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.per_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.per_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.per_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
